.skills-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.skills .title {
    margin-bottom: 150px;
    text-align: center;
    color: white;
    font-size: 40px;
    margin-top: 300px;
}

.skills .title span {
    margin-bottom: 150px;
    text-align: center;
    color: var(--secondary-color);
    font-size: 40px;
    margin-top: 50px;
}

.skills .title .bg-text {
    opacity: 30%;
    position: absolute;
    top: 473%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 60px;
    font-weight: 800;
    z-index: -1;
    color: var(--terciary-color);
}

.skills-container img {
    height: 450px;
    width: 500px;
}

.slider {
    width: 800px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
}

.slides {
    width: 500%;
    height: 500px;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 20%;
    transition: 2s;
}

.slide img {
    width: 800px;
    height: 500px;
}

.nav-manual {
    position: absolute;
    width: 800px;
    margin-top: 550px;
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

.manual-button {
    border: 2px solid var(--secondary-color);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-button:not(:last-child) {
    margin-right: 40px;
}

.manual-button:hover {
    background-color: var(--secondary-color);
}

#radio1:checked~.first {
    margin-left: 0;
}

#radio2:checked~.first {
    margin-left: -20%;
}

#radio3:checked~.first {
    margin-left: -40%;
}

#radio4:checked~.first {
    margin-left: -60%;
}

#radio5:checked~.first {
    margin-left: -80%;
}

#radio6:checked~.first {
    margin-left: -100%;
}

#radio7:checked~.first {
    margin-left: -120%;
}

#radio8:checked~.first {
    margin-left: -140%;
}

.nav-auto {
    position: absolute;
    display: flex;
    width: 800px;
    justify-content: center;
    margin-top: 550px;
    padding-bottom: 50px;
}

.nav-auto div {
    border: 2px solid var(--secondary-color);
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.nav-auto div:not(:last-child) {
    margin-right: 40px;
}

#radio1:checked~.nav-auto .auto-btn1 {
    background: var(--secondary-color);
}

#radio2:checked~.nav-auto .auto-btn2 {
    background: var(--secondary-color);
}

#radio3:checked~.nav-auto .auto-btn3 {
    background: var(--secondary-color);
}

#radio4:checked~.nav-auto .auto-btn4 {
    background: var(--secondary-color);
}

#radio5:checked~.nav-auto .auto-btn5 {
    background: var(--secondary-color);
}

#radio6:checked~.nav-auto .auto-btn6 {
    background: var(--secondary-color);
}

#radio7:checked~.nav-auto .auto-btn7 {
    background: var(--secondary-color);
}

#radio8:checked~.nav-auto .auto-btn8 {
    background: var(--secondary-color);
}