
:root {
    --primary-color: #06214d;
    --secondary-color: #d67010;
    --terciary-color: #676A6F;
    --subtitle-color: #E6E9F0;
    --text-color: #EAEAEA;
    --typewriterSpeed: 3s;
    --headerLength: 26;
}

::-webkit-scrollbar {
    height: 10px;
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: var(--secondary-color);
    border-radius: 30px;
}

* {
    font-family: 'Titillium Web', sans-serif;
}

body {
    background-color: var(--primary-color);
}

/*----------------------------------- NAVBAR START -----------------------------------*/

.navbar {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transform: translateY(-50%);
    top: 50%;
    right: 10px;
}

.navbar a {
    opacity: 60%;
    border-radius: 50%;
    padding: 10px;
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--terciary-color);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.navbar a:hover, .navbar a.active{
    opacity: 100%;
    background-color: var(--secondary-color);
}

.navbar i {
    font-size: 20px;
    color: white;
}

.sections {
    padding: 40px 20px;
    display: block;
}

a {
    text-decoration: none;
    display: inline-block;
}

/*----------------------------------- NAVBAR END -----------------------------------*/


/*-----------------------------------  HOME CONTAINER START -----------------------------------*/
.home {
    margin-bottom: 100px;
}

.home-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.home-container .left {
    width: calc(50% - 40px);
}

.home-container .image-contour {
    position: absolute;
    height: 500px;
    width: 200px;
    padding: 20px 50px;
    background-color: var(--secondary-color);
    clip-path: polygon(0 0, 51% 0, 100% 100%, 0 100%);
}

.home-container .left img {
    height: 500px;
    position: relative;
    padding: 20px 30px;
    border-radius: 45px;
}

.home-container .right {
    width: calc(50% - 40px);
}

/*----------------------------------- NAME AND SUBTITLE ANIMATION START -----------------------------------*/
.home-container .right .name {
    color: white;
    position: relative;
    font-size: clamp(1rem, 3vw + 1rem, 4rem);
    width: max-content;
}

.home-container .right .name::before, .home-container .right .name::after {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.home-container .right .name::before {
    background-color: var(--primary-color);
    animation: typewriter var(--typewriterSpeed) steps(var(--headerLength)) 1s forwards;
}

.home-container .right .name::after {
    width: 0.125em;
    background: white;
    animation: 
        typewriter var(--typewriterSpeed) steps(var(--headerLength)) 1s forwards, 
        blink 350ms steps(var(--headerLength)) infinite;
}

.home-subtitle {
    color: var(--subtitle-color);
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
    opacity: 0;
    transform: translateY(3rem);
    animation: fadeInUp 2s ease calc(var(--typewriterSpeed) + 1s) forwards;
}


@keyframes typewriter {
    to {
        left: 100%;
    }
}

@keyframes blink {
    to {
        background: transparent;
    }
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
/*----------------------------------- NAME ANIMATION END -----------------------------------*/

.home-container .right .button {
    display: flex;
    align-self: flex-start;
}

.home-container .right .cv-button {
    position: relative;
    display: flex;
    align-self: flex-start;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    margin-top: 30px;
    text-transform: capitalize;
    border: none; 
    outline: none;
    font-size: 17px;
    font-weight: 900; 
    color: white;
    border-radius: 30px;
    height: 50px;
    width: 180px;
    background: var(--secondary-color);
    transition: 0.5s ease;
}

.home-container .right .cv-button:hover {
    cursor: pointer;
    background: var(--secondary-color); /* here, when we hover over the button we'll create the effect of it "lightning up" */
    box-shadow: 0 0 10px var(--secondary-color), /* ici qu'on passera la souris sur le bouton on lui donnera l'effet "brillant"*/
                0 0 40px var(--secondary-color),  /* et ici on lui donnera l'effet de la lumière se dispersant */
                0 0 120px var(--secondary-color), /* here we'll give the effect of the light scaterring */
                0 0 300px var(--secondary-color);
}

.home-container .right .cv-button .button-text {
    padding: 0 20px;
}

.home-container .right .cv-button .button-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-container .right .cv-button .button-icon .fa-solid{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 70px;
    background: var(--secondary-color);
    border-radius: 50%;
}

/*-----------------------------------  HOME CONTAINER END -----------------------------------*/

/*-----------------------------------  ABOUT CONTAINER START -----------------------------------*/

.about-me .title {
    font-size: 27px;
    font-weight: 700;
    text-align: center;
    color: white;
}

.about-me .title h2 {
    position: relative;
    text-transform: uppercase;
}

.about-me .title h2 span {
    color: var(--secondary-color);
}

.about-container {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 30px;
}

.about-container .left h2 {
    color: white;
    font-size: 40px;
    margin-top: 50px;
}

.about-container .left p {
    color: var(--text-color);
    font-size: 22px;
    margin-top: 50px;
}

.about-container .right img {
    height: 500px;
    position: relative;
    padding: 20px 0 20px 400px;
    border-radius: 45px;
}

.about-container .right .image-contour {
    position: absolute;
    height: 500px;
    margin-left: 500px;
    width: 200px;
    padding: 20px 50px;
    background-color: var(--secondary-color);
    clip-path: polygon(51% 0, 100% 0, 100% 100%, 0 100%);
}

/*-----------------------------------  ABOUT CONTAINER TIMELINE START -----------------------------------*/
.timeline {
    display: block;
    width: 80%;
    margin: 150px auto;
}

.timeline .sec-header {
    margin-bottom: 150px;
    text-align: center;
    color: white;
    font-size: 40px;
    margin-top: 50px;
}

.timeline .sec-header span {
    margin-bottom: 150px;
    text-align: center;
    color: var(--secondary-color);
    font-size: 40px;
    margin-top: 50px;
}

.carte {
    opacity: 60%;
    width: 45%;
    padding: 30px;
    border-radius: 20px;
    color: white;
    display: block;
    margin: 0;
    position: relative;
    background: var(--primary-color);
    transition: 250ms ease-in-out;
}

.carte:hover {
    opacity: 100%;
    width: 60%;
    transition: 250ms ease-in-out;
}

.carte:nth-child(even) {
    margin-left: auto;
}

.carte:nth-child(even):before {
    content: '';
    position: absolute;
    left: -15%;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    border: 5px solid var(--secondary-color) ;
    border-radius: 50%;
}

.carte:nth-child(even):after {
    content: '';
    position: absolute;
    left: -8.5%;
    top: 50%;
    transform: translateY(-50%);
    width: 7%;
    height: 2px;
    background: var(--secondary-color);
    z-index: -1;
}

.carte:nth-child(odd):before {
    content: '';
    position: absolute;
    right: -13%;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    border: 5px solid var(--secondary-color) ;
    border-radius: 50%;
}

.carte:nth-child(odd):after {
    content: '';
    position: absolute;
    right: -8%;
    top: 50%;
    transform: translateY(-50%);
    width: 8%;
    height: 2px;
    background: var(--secondary-color);
    z-index: -1;
}

.carte:nth-child(2), .carte:nth-child(2):before {
    background: #d14a4a;
}

.carte:nth-child(3), .carte:nth-child(3):before {
    background: #68315a;
}

.carte:nth-child(4), .carte:nth-child(4):before {
    background: #3a455c;
}

.carte:nth-child(5), .carte:nth-child(5):before {
    background: #51b169;
}

.carte-titre {
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 20px;
}
/*-----------------------------------  ABOUT CONTAINER TIMELINE END -----------------------------------*/



/*-----------------------------------  ABOUT CONTAINER END -----------------------------------*/

/*-----------------------------------  RESPONSIVENESS START -----------------------------------*/

@media (max-width: 1000px) {
    .home-container .left img {
        height: 400px;
    }
    
    .home-container .image-contour {
        height: 400px;
    }

    .home-container {
        gap: 20px;
    }
}

@media (max-width: 740px) {
    .home-container .column{
        width: 100%;
    }
}
/*-----------------------------------  RESPONSIVENESS END -----------------------------------*/